<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
    xmlns 即 xml namespace xml 使用的命名空间
    xmlns:xsi 即 xml schema instance xml 遵守的具体规范
    xsi:schemaLocation 本文档 xml 遵守的规范 官方指定
    -->
    <bean id="bubbleSortService" class="cn.edu.nuaa.ste.BubbleSortService"></bean>
    <bean id="chooseSortService" class="cn.edu.nuaa.ste.ChooseSortService"></bean>
    <bean id="insertSortService" class="cn.edu.nuaa.ste.InsertSortService"></bean>
    <bean id="quickSortService" class="cn.edu.nuaa.ste.QuickSortService"></bean>
</beans>